.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  & > li {
    transition: all 0.25s;
    margin-top: 8px;
    :hover {
      cursor: pointer;
      color: #00b3f0;
    }
  }
}
.root-Filter-price {
  padding: 16px;
  border-top: 1px solid #c4c4c4;
  .form-Filter-Price {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    & input {
      font-size: 12px; /* Thay đổi font-size cho placeholder */
    }
    & span {
      margin: 0 2px;
    }
  }
  .btn-Price {
    :first-child {
      margin-right: 6px;
    }
  }
}

.root-Filter-service {
  padding: 16px;
  border-top: 1px solid #c4c4c4;
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
